body {
  font: 12px sans-serif;
  margin: 8px 20px 20px;
  overflow: hidden;
}

/* For stats */
.characterStats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  border-top: 1px solid #e3e3e3;
  margin: 0 -20px;
}
#readingLevel {
  font-weight: bold;
}

#counter {
  color: #828282;
  text-align: right;
}

/* For Hemingway */
.stat {
  display: flex;
  padding: 8px;
  align-items: center;
  border-radius: 4px;
}

.stat + .stat {
  margin-top: 8px;
}

.stat .count {
  background: #FFFFFF;
  border-radius: 4px;
  min-width: 20px;
  padding: 4px;
  text-align: center;
}

.stat .label {
  margin-left: 8px;
}

span {
  padding: 2px;
  border-radius: 4px;
}

.adverb {
  background: #c4e3f3;
}

.qualifier {
  background: #c4e3f3;
}

.passive {
  background: #c4ed9d;
}

.complex {
  background: #e3b7e8;
}

.hardSentence {
  background: #f7ecb5;
}

.veryHardSentence {
  background: #e4b9b9;
}

#textOutput {
  max-height: 300px;
  overflow: scroll;
  margin: 0 -20px 20px;
  padding: 0 20px;
}

p {
  -webkit-margin-before: 8px;
  -webkit-margin-after: 8px;
  font-size: 16px;
  line-height: 1.4em;
  color: #333333;
}