<div id="hemingway">
  <section id="textOutput">
  </section>
  <section id="stats">
    <div class="characterStats">
      <div id="readingLevel">Easy reading level</div>
      <div id="counter">0 words</div>
    </div>
    <div class="hemingwayStats">
      <div class="stat adverb">
        <div id="adverbCount" class="count">0</div>
        <div id="adverbLabel" class="label">adverbs, meeting goal of 3 or fewer</div>
      </div>
      <div class="stat passive">
        <div id="passiveCount" class="count">0</div>
        <div id="passiveLabel" class="label">uses of passive voice, meeting the goal of 2 or fewer</div>
      </div>
      <div class="stat complex">
        <div id="complexCount" class="count">0</div>
        <div id="complexLabel" class="label">phrase has simpler alternative</div>
      </div>
      <div class="stat hardSentence">
        <div id="hardSentenceCount" class="count">0</div>
        <div id="hardSentenceLabel" class="label">hard to read sentence</div>
      </div>
      <div class="stat veryHardSentence">
        <div id="veryHardSentenceCount" class="count">0</div>
        <div id="veryHardSentenceLabel" class="label">very hard to read sentence</div>
      </div>
    </div>
  </section>
</div>
